* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #1A1A2E;
  color: floralwhite;
}

#container {
  padding: 20px 10%;
  background-color: #5A189A;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-text {
  font-size: 24px;
  font-weight: 700;
  color: #E0B3FF;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.3s ease;
  text-shadow: 0 0 8px rgba(240, 4, 200, 0.4);
}

.logo-text:hover {
  color: #dba9f1;
  text-shadow: 0 0 10px rgba(66, 2, 82, 0.7);
}

nav ul li a {
  color: #E0B3FF;
}

.text-content h1,
.about-text h2,
.education-section h2,
.modules-section h2,
.skills-projects-section,
.projects h2,
.contact-section h2 {
  color: #E0B3FF;
}

.project-card,
.education-item,
.modules-list li,
.form-container {
  background: #2d1b39;
  border: 1px solid #E0B3FF;
  box-shadow: 0 2px 5px rgba(240, 4, 200, 0.15);
  color: floralwhite;
}

.project-links a,
.social-links a {
  background-color: #E0B3FF;
  color: #1A1A2E;
}

.project-links a:hover,
.social-links a:hover {
  background-color: #df08a9;
  color: white;
}

.contact-section button,
.form-container button {
  background-color: #f004c8;
  color: white;
}

.contact-section button:hover,
.form-container button:hover {
  background-color: #ae00ff;
}


